<ul class="list-group">
    <li *ngFor="let item of menuItems"
        class="list-group-item"
        [routerLink]="[item.ruta]"
        routerLinkActive="active">
        {{ item.texto }}
    </li>
</ul>