<h1 class="mt-3">Redes sociales Más Usadas</h1>
<hr>

<div *ngIf="doughnutChartData.datasets[0].data.length == 0; else divGrafica" 
    class="alert alert-info">
    Cargando data...
</div>

<div class="row">
    <div class="col">

        <ng-template #divGrafica>
            <canvas baseChart 
                class="chart mt-3" 
                [data]="doughnutChartData" 
                [type]="doughnutChartType">
            </canvas>
        </ng-template>

    </div>
</div>