<h1 class="mt-3">Gráfica de Barras</h1>
<div class="row mt-3">
    <div class="col">

        <canvas baseChart class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="barChartType">
        </canvas>
        
        <button
            class="btn btn-primary" 
            (click)="randomize()">
            Update
        </button>

    </div>
</div>