<h1 class="mt-3">Gráficas Doble</h1>
<hr>
<div class="row">
    <div class="col-md-6 mb-3">
        <app-grafica-barra 
            [horizontal]="true"
            [barChartData]="productoData">
        </app-grafica-barra>
    </div>

    <div class="col-md-6 mb-3">
        <app-grafica-barra
            [barChartData]="proveedoresData">
        </app-grafica-barra>
    </div>
</div>